{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'image/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendo/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'font/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'font/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendo/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendo/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendo/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendo/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendo/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cs/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'cs/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form action="{% url 'login' %}" method="post" name="log" class="login100-form validate-form">
					{% csrf_token %}
					<span class="login100-form-title p-b-26">
						WELCOME
					</span>
					<!-- <span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span> -->

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="username" id="username">
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password" id="password" >
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Login
							</button>
						</div>
					</div>

					<div class="text-center p-t-57 p-b-20">
						<span class="txt1">
							Or login with
						</span>
					</div>
	
					<div class="flex-c p-b-112">
					<!-- <div class="flex-c"> -->
						<a href="#" class="login100-social-item">
							<i class="fa fa-facebook-f" style=color:dodgerblue"></i>
						</a>&nbsp;&nbsp;&nbsp;
	
						<a class="login100-social-item" href="{% url 'social:begin' 'github' %}">
							<i class="fa fa-github" style="font-size:35px;" aria-hidden="true"></i>
						</a>&nbsp;&nbsp;&nbsp;
	
						<a href="{% url 'social:begin' 'google-oauth2' %}" class="login100-social-item">
							<img src="{% static 'image/icons/icon-google.png' %}" alt="GOOGLE">
						</a>
					</div><br>

					<div class="text-center p-t-115">
					<!-- <div class="text-center"> -->
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="{% url 'signup' %}">
							Sign Up
						</a>
					</div>
					
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'vendo/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendo/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendo/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendo/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendo/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendo/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendo/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendo/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'jss/main.js' %}"></script>
	<script src="{% static 'jss/valid.js' %}"></script>

</body>
</html>