<!-- CHANGE PASSWORD TAB -->
<div class="tab-pane" id="tab_1_3">
    <form action="" method="post" name="password" id="form1">
        {% csrf_token %}
        
        <div class="form-group">
            <label class="control-label">Current Password</label>
            <input type="password" name="old_password" id="old_password" remote="/test" class="form-control"/>
        </div>
        <div class="form-group">
            <label class="control-label">New Password</label>
            <input type="password" name="new_password1" id="new_password1" class="form-control"/>
        </div>
        <div class="form-group">
            <label class="control-label">Confirm Password</label>
            <input type="password" name="new_password2" id="new_password2" class="form-control"/>
        </div>
        <div class="margin-top-10">
            
            <input class="btn green-haze" type="submit" name="btnform2" />
            <a href="javascript:;" class="btn default">
            Cancel </a>
        </div>
    </form>
</div>
    
    <!-- END CHANGE PASSWORD TAB -->