<!-- CHANGE PASSWORD TAB -->
<div class="tab-pane" id="tab_1_3">
    <form action="" method="post" id="password-form1">
        {% csrf_token %}
            <div class="form-group">
                <label class="control-label">Current Password</label>
                <input type="password" name="password-old_password" id="password-old_password" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">New Password</label>
                <input type="password" name="password-new_password1" id="password-new_password1" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">Re-type New Password</label>
                <input type="password" name="password-new_password2" id="password-new_password2" class="form-control"/>
            </div>
            <div class="margin-top-10">
                
                <input class="btn green-haze" type="submit" name="password-btnform2" />
                <a href="javascript:;" class="btn default">
                Cancel </a>
            </div>
        </form>
    </div>
    <!-- END CHANGE PASSWORD TAB -->