<!-- PERSONAL INFO TAB -->
<div class="tab-pane active" id="tab_1_1">
        <form role="form" action="" id="form2" method="POST" name="profile">
                {% csrf_token %}            
                <!-- {{ fform.as_p }} -->
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input type="text" name="username" id="username" value="{{ user.username }}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" name="email" id="email" value="{{ user.email }}" class="form-control"/>
                </div>
            <div class="margiv-top-10">
                <input class="btn green-haze" type="submit" name="btnform1" />
                <a href="javascript:;" class="btn default">
                Cancel </a>
            </div>
        </form>
    </div>  
    <!-- END PERSONAL INFO TAB -->